body {
  padding: 0;
  margin: 0;
}

#enter {
  left: 200px;
}
.main2 {
  font-family: "calistoga", system-ui;
  color: white;
}
.animacion {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  box-sizing: border-box;
  padding-bottom: 200px;
}

#boton:disabled {
  background-color: #352f44;
  background-image: none;
}
.main2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
}
.title .C {
  font-size: 48px;
}
#enter {
  font-family: "calistoga", system-ui;
  font-size: 16px;
  color: #fff;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;

  background-color: #000;
  border: 2px solid rgba(238, 229, 126, 1);
}

#info {
  width: 50px;
  height: 50px;
  border-radius: 12px;
  outline: none;

  border: none;
  background-color: #000;
  border: 2px solid rgba(238, 229, 126, 1);
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
#enter:hover,
#info:hover {
  box-shadow: 0 0 10px rgba(238, 229, 126, 1);
}
#boton {
  transition: 0;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #f8f8f8;

  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: 0.2s;
}
#boton svg {
  fill: #6f6f6f;
}

#boton:hover {
  box-shadow: 0px 0px 10px #faf9f6;
}
.arrow {
  pointer-events: none;
  transition: 0.5s;
}
.left {
  transform: rotateZ(-90deg);
}

.dialog-info {
  display: none;
  position: absolute;
  z-index: 30;
  width: 400px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f8f8;
  margin: 0;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    system-ui;
}
.dialog-info p {
  font-size: 18px;
}
.dialog-info button,
.dialog-info a {
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 0;
  border: 1px solid #000;
}

.fin {
  font-family: "calistoga", system-ui;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  z-index: 30;
  opacity: 0;
  color: #f8f8f8;
  animation: final 1s forwards;
  font-size: 24px;
}

@keyframes final {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
